<ion-header>
  <ion-toolbar>
    <ion-title>Perfil usuário</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item lines="none">
    <img src ="assets/avatar-perfil.jpg">
  </ion-item>

<ion-content>
  <ion-list *ngIf="usuario | async as user">
    <ion-item>
      <ion-text>
        {{user.nome}}
      </ion-text>
    </ion-item>
    
    <ion-item>
      <ion-text>
        {{user.email}}
      </ion-text>
    </ion-item>

    <ion-button expand="block" fill="outline" (click)="logout()" routerLink="/">
      SAIR
    </ion-button>
      
  </ion-list>
</ion-content> 