<ion-header>
  <ion-toolbar class="festinha">
    <ion-title slot="start">     
        Tab One      
    </ion-title>
    <ion-title slot="end">
      <ion-icon name="person" routerLink="/login-usuario"></ion-icon>
    </ion-title>    
  </ion-toolbar> 
</ion-header>

<ion-content>
    <ion-card class="welcome-card" routerLink="/tabs/perfilEvento/-LjRLvr1qxLdY9BSjhlQ">
      <ion-img src="assets/bebendo1.jpg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Junte a galera</ion-card-subtitle>
        <ion-card-title>Se divirta com seus amigos</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Reuna toda galera para bater um papo e nada melhor que beber uma coca-cola enquanto conversam.</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
            
    <ion-card class="welcome-card" routerLink="/tabs/perfilEvento/-Lm4lDziabJ3Cuyxmw3_">
      <ion-img src="assets/junina.jpg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>vizinhos e familiares</ion-card-subtitle>
        <ion-card-title>Festa Junina</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Como todo ano nos reunimos para realizar a festa junina,contamos com a presença de todos e com a contribuição(verificar a lista).</p>
      </ion-card-content>
    </ion-card> 
    
    <ion-card class="welcome-card" routerLink="/tabs/perfilEvento/-Lm4m03UGdbaeN7iHfKp"> 
      <ion-img src="assets/encerramento.jpg"></ion-img>
      <ion-card-header> 
        <ion-card-subtitle>Todos os funcionários</ion-card-subtitle>
        <ion-card-title>Festa de encerramento</ion-card-title> 
      </ion-card-header>
      <ion-card-content> 
        <p>Com objetivo de proporcionar um momento de confraternização, celebração e agradecimento por um ano tão produtivo e vitorioso, realizaremos nossa comemoração de Natal no dia 13/12 (6ª feira), na própria unidade, para todos os funcionários.</p> 
        </ion-card-content> 
      </ion-card>     
            
    </ion-list>
</ion-content>
