<ion-header>
  <ion-toolbar>
    <ion-title>Perfil evento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="evento | async as event">
    <ion-item>
      <ion-text>
        {{event.nome}}
      </ion-text>
    </ion-item>

    <ion-item>
      <ion-text>
        {{event.tema}}
      </ion-text>
    </ion-item>

    <ion-item>
      <ion-text>
        {{event.data}}
      </ion-text>
    </ion-item>

    <ion-item> 
      <ion-text>
        {{event.horario}}
      </ion-text>
    </ion-item>

    <ion-item>
      <ion-text>
        {{event.local}}
      </ion-text>   
    </ion-item>
   
    <ion-item>
        <ion-slides pager="true">
            
              <ion-slide>
                <img src="assets/bebendo1.jpg">
              </ion-slide>
    
              <ion-slide>
                <img src="assets/bebendo3.jpg">
              </ion-slide>

              <ion-slide>
                  <img src="assets/bebendo4.jpg">
                </ion-slide>
    
          </ion-slides>
        </ion-item>
  
      </ion-list>
</ion-content> 